<div *ngIf="lugar">
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg-5  rk-leyenda">
                <img src="assets/img/lugares/{{id}}/main.jpg" alt="Urku Portfolio">
                <small>{{lugar.leyenda}}</small>
            </div>
            <div class="ae-grid__item item-lg-6 item-lg--offset-1">
                <h1 class="ae-u-bolder rk-portfolio-title ">
            {{lugar.nombre}}
        </h1>
             <p>{{lugar.ubicacion}}</p>
            </div>
        </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg-5  rk-leyenda">
                <h4 class="rk-portfolio-inner-title ">
                    {{lugar.subtitulo}}
                </h4>
                 {{lugar.historia}}
            </div>
            <div class="ae-grid__item item-lg-6 item-lg--offset-1 rk-leyenda">
                <img src="assets/img/lugares/{{id}}/pic-1.jpg"  alt="Urku Portfolio">
                <small>{{lugar.leyenda1}}</small>
            </div>
        </div>
    </div>
    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
        <div class="ae-grid ae-grid--collapse">
            <div class="ae-grid__item item-lg-5 rk-leyenda">
                <img src="assets/img/lugares/{{id}}/pic-2.jpg" alt="Urku Portfolio">
                <small>{{lugar.leyenda2}}</small>

            </div>
            <div class="ae-grid__item item-lg-6 item-lg--offset-1">
                  {{lugar.descripcion}}
            </div>
        </div>
    </div>
    

</div>
