
<div class="ae-grid au-pt-2">
<div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder">Proyecto Personal</h4>
    <h5 class="ae-u-bolder">Sitios turisticos de Venezuela</h5>
   
<h5 class="ae-u-bolder">Proyecto de Curso de UDEMY para convertir un template HTML en una WebAPP con Angular</h5>
<p>Este proyecto se baso en convertir una plantilla HTML a una aplicación de Angular, usando Firebase como backend, desplegando el sitio web en GitHub Pages y utilizando Git como repositorio. </p>

<p>Crear una página web administrada por Angular y Firebase Tener el conocimiento necesario para convertir cualquier template HTML en una aplicación de Angular Desplegar una aplicación a un sitio web Usar GitHub Pages para desplegar sitios y aplicaciones web, basada en galeria de imagenes de sitios turisticos, con detalle de cada lugar y con sistema de busqueda.</p>
</div>
</div>



